body, input, textarea{
    font-family: 'Candara', 'Microsoft JhengHei';
    font-size: 16px;
}

input{
    outline: none;
}

body{
    line-height: 1.4;
    margin: 0;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    font-weight: 500;
}

p{
    margin: 0;
}

img{
    display: block;
    width: 100%;
}

.container{
    margin: auto;
}

header{
    /*margin: 10px;*/
}


#main{
    margin: 0 5px 0 5px;
}


.mark{
    overflow: hidden;
}

.mark a{
    color: #222;
    font-size: 14px;
}

.mark__item{
    float: left;
}

.mark__photo{
}

.mark__title{
    padding: 5px;
}

.mark__detail{
    padding: 5px 0;
}

.mark__content{
    margin: 10px 5px 0;
    border: 1px solid rgba(208,212,217,.5);
    background-color: #fff;
}


footer{
    position: relative;
    bottom: 0;
    text-align: center;
    color: #fff;
    padding: 20px 0;
    background-color: #333333;
}